<div class="sidebar-tree">
  {{ furo_navigation_tree }}
</div>

<div class="sidebar-scroll">
  <div class="sidebar-tree">
    <hr class="injected-sidebar-tree-spacer" />
    <ul>
      <li><a class="reference external" href="https://releng.io/">releng.io</a></li>
      <li><a class="reference external" href="https://github.com/releng-tool/releng-tool">releng-tool GitHub</a></li>
    </ul>
{% if languages|length > 1 %}
    <hr class="injected-sidebar-tree-spacer" />
    <div class="injected-sidebar-i8n">
      🕮
{% for key, val in languages.items() %}
      · <a class="notranslate" href="https://{{ releng_tool_domain }}/{{ key }}/">{{ val }}</a>
{% endfor %}
    </div>
{% endif %}
  </div>
</div>
